---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";

import { Image } from "astro:assets";
import profileImage from "../assets/wp006.jpg";
---

<Layout title="Darius Blaszyk | Photography">
    <html>
      <head>
        <title>About Me</title>
      </head>
      <body class="flex items-center justify-center min-h-screen bg-gray-100 p-6">
        <div class="container mx-auto max-w-4xl flex flex-col md:flex-row items-center justify-center gap-8 p-6">
          <!-- Text Section -->
          <div class="md:w-1/2 text-center md:text-left">
            <h1 class="text-3xl font-bold text-gray-900">Darius Blaszyk</h1>
            <h2 class="text-xl text-gray-600">The Hague, The Netherlands</h2>
            <p class="mt-4 text-gray-700">
                I am a photographer based in The Hague with a long history
                as a creative thinker, exploring various artistic
                techniques. In 2025, I decided to channel my creativity into
                photography, taking a hands-on approach and maintaining
                control over every aspect of the process whenever possible.
                Through experimentation, I discovered that capturing images
                on large-format 8x10 film and wet plate, then printing with
                historical techniques such as salt prints, albumen, and
                platinum palladium, best brings my vision to life.
                Currently, I primarily produce contact prints using
                8x10-inch film, but I am continually seeking new forms for
                artistic expression.
            </p>
          </div>
    
          <!-- Image Section -->
          <div class="md:w-1/2 flex justify-center">
            <Image
              src={profileImage}
              alt="Profile Picture"
              class="rounded-[18px] max-h-[60vh] w-auto shadow-lg"
            />
          </div>
        </div>
      </body>
    </html>
</Layout>
