---
import Layout from "../layouts/Layout.astro";

import { Image } from "astro:assets";
import mainImage from "../assets/wetplate-2018/wp001.jpg";
---

<Layout>
	<section class="flex-grow flex flex-col justify-center items-center p-6">
		<figure class="text-center">
			<Image
				src={mainImage}
				alt="Your Image"
				class="w-full max-w-lg rounded-lg shadow-lg"
			/>
			<figcaption class="mt-2 text-gray-600">
				<strong>“Encroachment”</strong> — Vines curl through broken windows, reminding us that nature never truly leaves.
			</figcaption>
		</figure>
	</section>
</Layout>
