---
import GridCell from '../components/GridCell.astro'
import Layout from '../layouts/Layout.astro'

import { photos } from '../photos'
---

<Layout title="Darius Blaszyk | Photography">
  <main>
    <div class="grid grid--large">
      <div class="grid__cell grid__cell--padded">
        <div class="frame">
          <h1 class="frame__title oh">
            <img src="/favicon.svg" width="32px" style="margin-top: 6px;margin-left: 6px;"/>
            <br>
            <br>
            <span class="oh__inner">No man's land</span>
          </h1>
          <nav class="frame__links">
            <span class="oh__inner">Where nature reclaims what’s hers.</span>
            <div>
              by <a
                href="mailto:dhkblaszyk@gmail.com"
                class="oh"
                target="_blank"
                rel="noopener"><span class="oh__inner">Darius Blaszyk</span></a
              >
            </div>
          </nav>
        </div>
      </div>
      {
        photos.map((photo, index) => (
          <GridCell photo={photo} photoIndex={index} />
        ))
      }
    </div>
  </main>
</Layout>
