---
import { Image } from "astro:assets";

const { src, alt } = Astro.props;
---

<html class="h-full w-full">
  <body class="h-full w-full flex justify-center items-center bg-white">
    <div class="w-full h-full overflow-hidden">
      <Image 
        src={src} 
        alt={alt} 
        class="w-full h-full object-cover"
      />
    </div>
  </body>
</html>
