---
const { color, paddingRight } = Astro.props;
---
<div 
  class="h-12 border-l border-white opacity-30" 
  style={`border-color: ${color}; align-self: end; padding-right: ${paddingRight}px;`}
></div>
