---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Darius Blaszyk | Photographer</title>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />		
	</head>
	<body class="flex flex-col min-h-screen bg-gray-100">
		<slot />
	</body>
</html>
